<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="icon" href="/favicon.png" type="image/x-icon">
    <title>Обо мне</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container text-center">
        <div class="header">
            <span class="emoji">🦋</span>
            <h1>Род занятий:</h1>
            <img src="/images/your-photo.jpg" alt="Your Photo" class="img-fluid mt-3 mx-auto d-block">
        </div>
        <div class="section">
            <ul>
                <li>парсеры, инвайтеры и прочие tg, vk скрипты</li>
                <li>автоматизация на selenium или appium</li>
                <li>работа с сайтами на php + mysql</li>
                <li>работа с WPF / WinForms C#, Electron Js</li>
            </ul>
        </div>
        <div class="header">
            <span class="emoji">🌕</span>
            <h2>Опыт работы</h2>
        </div>
        <div class="section">
            <p>5 лет работы в этой сфере.</p>
            <p>Пишу автоматизированное ПО на selenium и appium, скрипты, сайты. Боты телеграм</p>
            <p>Могу взяться за неизвестный для себя, но интересный проект, усвоив инструктаж, объяснение, как все работает и реализовать по договорной цене.</p>
        </div>
        <div class="section">
            <span class="emoji">🌸</span>
            <p>Подробнее тут: <a class="link" href="https://telegra.ph/Polnaya-informaciya-01-11" target="_blank">ссылка</a></p>
        </div>
        <a href="/activities" class="btn btn-primary mt-3">Расценка</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
