<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="icon" href="/favicon.png" type="image/x-icon">
    <title>Обо мне</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container text-center">
        <div class="header">
            <span class="emoji">🦋</span>
            <h1>Род занятий:</h1>
            <img src="/images/your-photo.jpg" alt="Your Photo" class="img-fluid mt-3 mx-auto d-block">
        </div>
        <div class="section">
            <ul>
                <li><strong>Desktop-приложения:</strong> Qt5/6, Electron.js, WPF (100$+)</li>
                <li><strong>Web-сайты:</strong> PHP/MySQL, Node.js/Postgres. Полный цикл разработки (500$+).</li>
                <li><strong>Боты ВКонтакте/Telegram:</strong> Python, Node.js, C++, PHP:
                    <ul>
                        <li>Простые боты на PHP и C++ для вывода данных (20$-50$).</li>
                        <li>Полноценные решения на Python/Node.js (100$-250$).</li>
                        <li>Исправление ботов (10$-100$).</li>
                    </ul>
                </li>
                <li><strong>Парсеры:</strong> Чекеры, скрейперы на запросах, Selenium или через антидетект-браузеры:
                    <ul>
                        <li>Python или C# (50$).</li>
                        <li>Сбор данных в базы (CSV/XLSX/MySQL/PostgreSQL) — от 50k до нескольких миллионов записей (50$-200$).</li>
                    </ul>
                </li>
                <li><strong>Android-приложения:</strong> Экспериментальные проекты (200$+).</li>
                <li><strong>Администрирование:</strong> Установка и настройка ботов/сайтов на Debian-based дистрибутивах. Предпочитаю работать с Docker.</li>
                <li><strong>Ботов и сайты</strong> предпочитаю собирать в Docker для простой установки на сервере.</li>
            </ul>
        </div>
        <a href="/contact" class="btn btn-primary mt-3">Хочу связаться</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>
