<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="icon" href="/favicon.png" type="image/x-icon">
    <title>Обо мне</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container text-center">
        <div class="header">
            <span class="emoji">🦋</span>
            <h1>Род занятий:</h1>
            <img src="/images/your-photo.jpg" alt="Your Photo" class="img-fluid mt-3 mx-auto d-block">
        </div>
        <div class="section">
            <ul>
                <li>Реализация софта для автоматизации (Selenium)</li>
                <li>Создание ботов в телеграм</li>
                <li>Парсинг данных из веб-сайтов</li>
                <li>Создание и установка веб-сайтов на nodejs или php laravel</li>
                <li>Также имеется навык работы с ChatGPT</li>
                <li>Тестирование проектов и решение ошибок</li>
            </ul>
        </div>
        <div class="header">
            <span class="emoji">🌕</span>
            <h2>Опыт работы</h2>
        </div>
        <div class="section">
            <p>6 лет работы в этой сфере.</p>
        </div>
        <a href="/activities" class="btn btn-primary mt-3">Расценка</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>
