<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="icon" href="/favicon.png" type="image/x-icon">
    <title>Расценка</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container text-center">
        <div class="header">
            <span class="emoji">🖤</span>
            <h1>Расценка</h1>
            <p><strong>ТАКЖЕ СВЕРЯЙТЕ ТЕГ ПЕРЕД РАБОТОЙ ЧТОБ НЕ ОБМАНУЛИ - <a class="link" href="https://t.me/info_mercury_dev" target="_blank">t.me/MERCURY_DEVEL</a></strong></p>
        </div>
        
        <div class="section">
            <h2>Настройка и установка бота</h2>
            <p>Цена: <strong>10$</strong></p>
            <p>Срок выполнения: день</p>
        </div>
        
        <div class="section">
            <h2>Создание простого бота</h2>
            <div class="price-list">
                <p>Цена: от <strong>10$</strong> до <strong>20$</strong></p>
                <p>Срок выполнения: день</p>
            </div>
        </div>
        
        <div class="section">
            <h2>Создание бота средней сложности/парсер</h2>
            <div class="price-list">
                <p>Цена: от <strong>30$</strong> до <strong>100$</strong></p>
                <p>Срок выполнения: неделя (может быть меньше)</p>
            </div>
        </div>
        
        <div class="section">
            <h2>Создание крупного проекта</h2>
            <div class="price-list">
                <p>Цена: от <strong>100$</strong> до <strong>250$</strong></p>
                <p>Срок выполнения: неделя/полторы недели</p>
                <p>Проект имеет много встроенных функций разной сложности.</p>
            </div>
        </div>
        <div class="section">
            <h2>Готов открывать для себя что-то новое</h2>
            <div class="price-list">
                <p>Цена: <strong>Договорная</strong></p>
                <p>Срок выполнения: зависит от сложности и уровня инструктажа перед работой</p>
                <p>Могу откликнуться и взяться за проект, на котором редко либо вообще не работал, однако усваиваю знания быстро.</p>
            </div>
        </div>
        <a href="/contact" class="btn btn-primary mt-3">Связаться со мной</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>
