<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="icon" href="/favicon.png" type="image/x-icon">
    <title>Связь</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container text-center">
        <img src="/images/contact.jpg" alt="Main Image" class="img-fluid header-image mx-auto d-block" style="max-width: 80%; height: auto;">
        <div class="header">
            <h1>📞Мои контакты:</h1>
        </div>

        <div class="section">
            <p>По поводу заказов пишите в ТГ - <a class="link" href="https://t.me/mercury_devel" target="_blank">@MERCURY_DEVEL</a></p>
        </div>
        
        <div class="section">
            <p>Почта - <a class="link" href="mailto:angel@mercuria.dev">angel@mercuria.dev</a></p>
        </div>
    
        <div class="section">
            <p>Связь на случай спамблока - <a class="link" href="https://t.me/MercurySupportBot" target="_blank">https://t.me/MercurySupportBot</a></p>
        </div>
    
        <div class="section">
            <p>GitHub - <a class="link" href="https://github.com/mercury-devel" target="_blank">https://github.com/mercury-devel</a></p>
        </div>
    
        <div class="section">
            <p>LZT - <a class="link" href="https://lolz.live/mercury_devel/" target="_blank">https://lolz.live/mercury_devel/</a></p>
        </div>
        <div class="header">
            <h1>Буду рад помочь реализовать ваши идеи!</h1>
            <h1><span class="emoji me-2">❤️❤️❤️</span></h1>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>
