<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="icon" href="/favicon.png" type="image/x-icon">
    <title>Связь</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container text-center">
        <div class="section">
            <span class="emoji">✏️</span>
            <p>По поводу заказов пишите в ТГ <a class="link" href="https://t.me/MERCURY_DEVEL" target="_blank">@MERCURY_DEVEL</a></p>
        </div>
        
        <div class="section">
            <span class="emoji">🌎</span>
            <p>Я на форуме <a class="link" href="https://zelenka.guru/mercury_devel/" target="_blank">https://zelenka.guru/mercury_devel/</a></p>
        </div>
        
        <div class="section">
            <span class="emoji">🌙</span>
            <p>Бот-Связь - <a class="link" href="https://t.me/MercurySupportBot" target="_blank">https://t.me/MercurySupportBot</a></p>
            <p>Почта - <a class="link" href="mailto:angel@nocrynomercy.ru">angel@nocrynomercy.ru</a></p>
        </div>
        
        <div class="section">
            <span class="emoji">🍭</span>
            <p>Мои проекты - Список активных ботов, помимо них есть сотни обычных скриптов, которые хранятся на диске, репозитории, и на флешке бэкапом (насобирались с 18 года в основном python):</p>
            <p><a class="link" href="https://t.me/merc_projects" target="_blank">https://t.me/merc_projects</a></p>
            <p><a class="link" href="https://github.com/mercury-devel" target="_blank">https://github.com/mercury-devel</a></p>
        </div>
        <div class="section">
            <span class="emoji">✝️</span>
            <p>Внимание! Сразу писать по делу. Спам стикерами или сообщением "привет" и прочей ерундой — ЧС</p>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
