<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="icon" href="/favicon.png" type="image/x-icon">
    <title>Portfolio</title>
</head>
<body>
    <%- include('partials/navbar') %> <!-- Подключение навигационной панели с кнопкой переключения темы -->

    <div class="container text-center">
        <img src="/images/main-image.jpg" alt="Main Image" class="img-fluid header-image mx-auto d-block">
        <div class="header">
            <h1>Моё портфолио</h1>
        </div>

        <div class="section">
            <p>Здесь располагается моё портфолио, где я описываю всю свою деятельность.</p>
        </div>

        <a href="/about" class="btn btn-primary mt-3">Род занятий</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>
